### Create connector event library
add_library({{command_class.output_name}}_interface INTERFACE)

target_include_directories({{command_class.output_name}}_interface 
 INTERFACE $<BUILD_INTERFACE:${CMAKE_CURRENT_LIST_DIR}/inc>
           $<BUILD_INTERFACE:${CMAKE_CURRENT_LIST_DIR}/generated/inc>
)

target_link_libraries({{command_class.output_name}}_interface INTERFACE zwave_definitions)