{% import "utils.j2" as utils with context %}
{{ utils.copyright() }}

{% set header_guard_name = command_class.name | upper + "_TYPES" %}
{{ utils.header_guard(header_guard_name) }}

#include "{{command_class.output_name}}_generated_types.hpp"

namespace zwave_command_class
{
    namespace {{command_class.output_name}}_types
    {

    } // namespace {{command_class.output_name}}_types
} // namespace zwave_command_class

{{ utils.footer_guard(header_guard_name) }}