add_library(
  {{command_class.output_name}} STATIC
  src/{{command_class.output_name}}.cpp
  src/{{command_class.output_name}}_attribute_store.cpp
{% if command_class.mqtt_support %}
  src/{{command_class.output_name}}_mqtt.cpp
{% endif %}
  generated/src/{{command_class.output_name}}_core.cpp
)

target_include_directories({{command_class.output_name}} 
 PUBLIC $<BUILD_INTERFACE:${CMAKE_CURRENT_LIST_DIR}/generated/inc>
        $<BUILD_INTERFACE:${CMAKE_CURRENT_LIST_DIR}/inc>
)

# Link with required dependencies
target_link_libraries(
  {{command_class.output_name}}
  PUBLIC
    command_class_common
    {{command_class.output_name}}_interface
)

add_subdirectory(interface)