{% import "utils.j2" as utils with context %}
{% import "config.j2" as config with context %}

{% macro generate_report_received_function(command_class, command) %}
{% set command_class_name_lower = command_class.output_name %}
sl_status_t {{command_class_name_lower}}_core::on_{{command.name | lower}}_received(const report_received_args &args)
{
    [[maybe_unused]] auto endpoint_node    = args.endpoint_node;
    const auto *const connection_info   = args.connection_info;
    [[maybe_unused]] uint16_t frame_length = args.report_frame_parser.get_frame_length() - 2; /* -2 for the header */
    [[maybe_unused]] uint16_t read_bytes = 0;
    [[maybe_unused]] auto &frame_parser     = args.report_frame_parser;
    {{command_class_name_lower}}_attribute_map_t attribute_map;
    [[maybe_unused]] sl_status_t parse_status = SL_STATUS_OK;

    if (!args.report_frame_parser.is_frame_size_valid({{command_class_name_lower}}_core::{{command.name | lower}}_min_frame_size, {{command_class_name_lower}}_core::{{command.name | lower}}_max_frame_size)) {
        sl_log_warning(LOG_TAG.data(), "Invalid frame size for {{command.name}} frame. Might be a version mismatch.");
    }

    {% set variant_group_name = namespace(value="") %}
    {% for version in range(1, command_class.supported_version + 1) %}
        {% for attribute in command.params %}
            {% if version == attribute.min_version %}
                {% if attribute.type | lower == "variant_group" %}
                    {% set variant_group_name.value = command.name | lower + "_" + attribute.name + "_t" %}
                    {{variant_group_name.value}} {{utils.create_variable_name(attribute.name)}} = {};
                {% elif attribute.type | lower == "variant" %}
                    {% set populated_type      = utils.create_variable_name(attribute.name) %}
                    {% set populated_type_name = command.name | lower + "_" + populated_type + "_t" %}
                    {{populated_type_name}} {{utils.create_variable_name(attribute.name)}} = {};
                {% elif attribute.type | lower == "bitmask" %}
                    {% set populated_type      = utils.create_variable_name(attribute.name) %}
                    {% set populated_type_name = command.name | lower + "_" + populated_type + "_t" %}
                    {{populated_type_name}} {{utils.create_variable_name(attribute.name)}} = {};
                {% elif attribute.type | lower == "struct_byte" %}
                    {% set populated_type      = utils.create_variable_name(attribute.name) %}
                    {% set populated_type_name = command.name | lower + "_" + populated_type + "_t" %}
                    {{populated_type_name}} {{utils.create_variable_name(attribute.name)}};
                    {{utils.create_variable_name(attribute.name)}}.value = 0;
                {% elif attribute.type | lower != "marker" %}
                    {% set populated_type      = utils.create_variable_name(attribute.name) %}
                    {% set populated_type_name = command.name | lower + "_" + populated_type + "_t" %}
                    {{populated_type_name}} {{utils.create_variable_name(attribute.name)}} = 0;
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    {% if command_class.output_name == "command_class_version" and command.name | lower == "version_command_class_report" %}
    /* If zero is returned, it means that the command class version is not yet requested from the end node */
    {% endif %}
    {% for version in range(1, command_class.supported_version + 1) %}
        try {
        {% for attribute in command.params %}
            {% if version == attribute.min_version %}
                {% if attribute.optionaloffs is defined and attribute.optionalmask is defined and attribute.optionaloffs is not none and attribute.optionalmask is not none %}
                    {% set ns_opt = namespace(control_param=none) %}
                    {% for p in command.params %}
                        {% if p.id == attribute.optionaloffs %}
                            {% set ns_opt.control_param = p %}
                        {% endif %}
                    {% endfor %}
                    {% if ns_opt.control_param %}
                    // Optional param - only when control bit set (optionaloffs/optionalmask)
                    if ((({% if ns_opt.control_param.type | lower == "struct_byte" %}{{utils.create_variable_name(ns_opt.control_param.name)}}.value{% else %}{{utils.create_variable_name(ns_opt.control_param.name)}}{% endif %} & {{ "0x{:02X}".format(attribute.optionalmask) }}) != 0)
                        && (read_bytes < frame_length)) {
                        {{utils.create_variable_name(attribute.name)}} = frame_parser.read_sequential<{{utils.convert_zwave_type_to_cpp_type(attribute.type)}}>(sizeof({{utils.create_variable_name(attribute.name)}}));
                        read_bytes += sizeof({{utils.create_variable_name(attribute.name)}});
                    }
                    {% endif %}
                {% elif (attribute.type | lower == "byte"  or 
                        attribute.type | lower == "word"  or
                        attribute.type | lower == "dword" or 
                        attribute.type | lower == "const") %}
                    {{utils.create_variable_name(attribute.name)}} = frame_parser.read_sequential<{{utils.convert_zwave_type_to_cpp_type(attribute.type)}}>(sizeof({{utils.create_variable_name(attribute.name)}}));
                    read_bytes += sizeof({{utils.create_variable_name(attribute.name)}});
                {% elif attribute.type | lower == "struct_byte" %}
                    {{utils.create_variable_name(attribute.name)}}.value = frame_parser.read_sequential<uint8_t>(sizeof({{utils.create_variable_name(attribute.name)}}.value));
                    read_bytes += sizeof({{utils.create_variable_name(attribute.name)}}.value);

                {% elif attribute.type | lower == "multi_array" %}
                    {% if command.params[attribute.fields[0].param_offset].type | lower == "struct_byte" %}
                        uint16_t {{utils.create_variable_name(attribute.name)}}_size = {{utils.create_variable_name(command.params[attribute.fields[0].param_offset].name)}}.value & {{attribute.fields[0].size_mask}};
                    {% else %}
                        uint16_t {{utils.create_variable_name(attribute.name)}}_size = {{utils.create_variable_name(command.params[attribute.fields[0].param_offset].name)}} & {{attribute.fields[0].size_mask}};
                    {% endif %}
                    {{utils.convert_zwave_type_to_cpp_type(attribute.type)}} {{utils.create_variable_name(attribute.name)}} = frame_parser.read_sequential<{{utils.convert_zwave_type_to_cpp_type(attribute.type)}}>({{utils.create_variable_name(attribute.name)}}_size);
                    read_bytes += {{utils.create_variable_name(attribute.name)}}_size;

                {% elif attribute.type | lower == "array" %}
                    uint16_t {{utils.create_variable_name(attribute.name)}}_length = {{attribute.fields[0].len}};
                    {{utils.create_variable_name(attribute.name)}} = frame_parser.read_sequential<{{utils.convert_zwave_type_to_cpp_type(attribute.type)}}>({{utils.create_variable_name(attribute.name)}}_length);
                    read_bytes += {{utils.create_variable_name(attribute.name)}}_length;

                {% elif attribute.type | lower == "bitmask" %}
                    {% if attribute.fields[0].paramoffs < command.params | length %}
                        {% if command.params[attribute.fields[0].paramoffs].type | lower == "struct_byte" %}
                            uint16_t {{utils.create_variable_name(attribute.name)}}_size = ({{utils.create_variable_name(command.params[attribute.fields[0].paramoffs].name)}}.value & {{attribute.fields[0].len_mask}});
                        {% else %}
                            uint16_t {{utils.create_variable_name(attribute.name)}}_size = ({{utils.create_variable_name(command.params[attribute.fields[0].paramoffs].name)}} & {{attribute.fields[0].len_mask}});
                        {% endif %}
                    {% else %}
                        uint16_t {{utils.create_variable_name(attribute.name)}}_size = frame_length - read_bytes;
                    {% endif %}
                    {{utils.create_variable_name(attribute.name)}} = frame_parser.read_sequential<{{utils.convert_zwave_type_to_cpp_type(attribute.type)}}>({{utils.create_variable_name(attribute.name)}}_size);
                    
                {% elif attribute.type | lower == "bit_24" %}
                    {{utils.create_variable_name(attribute.name)}} = frame_parser.read_sequential<uint32_t>(3);
                    read_bytes += 3;
                {% elif attribute.type | lower == "variant_group" %}
                    {% set variant_group_name = command.name | lower + "_" + attribute.name + "_t" %}
                    {% if attribute.param_offset != 255 %}
                        {% if command.params[attribute.param_offset].type | lower == "byte" %}
                            uint16_t {{variant_group_name}}_size = {{utils.create_variable_name(command.params[attribute.param_offset].name)}} & {{attribute.size_mask}};
                        {% else %}
                            uint16_t {{variant_group_name}}_size = {{utils.create_variable_name(command.params[attribute.param_offset].name)}}.value & {{attribute.size_mask}};
                        {% endif %}

                        for (uint16_t i = 0; i < {{variant_group_name}}_size; i++) {
                            {{variant_group_name}}_item_t item;
                            {% for field in attribute.params %}
                                item.{{utils.create_variable_name(field.name)}} = frame_parser.read_sequential<{{utils.convert_zwave_type_to_cpp_type(field.type)}}>(sizeof(item.{{utils.create_variable_name(field.name)}}));
                                read_bytes += sizeof(item.{{utils.create_variable_name(field.name)}});
                            {% endfor %}
                            {{utils.create_variable_name(attribute.name)}}.push_back(item);
                        }
                    {% else %}

                        while (read_bytes < frame_length) {
                            {{variant_group_name}}_item_t item;
                            {% for field in attribute.params %}
                                {% if field.type | lower == "struct_byte" %}
                                    item.{{utils.create_variable_name(field.name)}}.value = frame_parser.read_sequential<uint8_t>(sizeof(item.{{utils.create_variable_name(field.name)}}.value));
                                    read_bytes += sizeof(item.{{utils.create_variable_name(field.name)}}.value);
                                {% else %}
                                    item.{{utils.create_variable_name(field.name)}} = frame_parser.read_sequential<{{utils.convert_zwave_type_to_cpp_type(field.type)}}>(sizeof(item.{{utils.create_variable_name(field.name)}}));
                                    read_bytes += sizeof(item.{{utils.create_variable_name(field.name)}});
                                {% endif %}
                                
                            {% endfor %}
                            {{utils.create_variable_name(attribute.name)}}.push_back(item);
                        }
                    {% endif %}
                {% elif attribute.type | lower == "variant" %}
                    {% if attribute.fields[0].param_offset != 255 %}
                        {% if command.params[attribute.fields[0].param_offset].type | lower == "byte" %}
                            uint16_t {{utils.create_variable_name(attribute.name)}}_size = ({{utils.create_variable_name(command.params[attribute.fields[0].param_offset].name)}} & {{attribute.fields[0].size_mask}}) + {{attribute.fields[0].size_change}};
                        {% else %}
                            uint16_t {{utils.create_variable_name(attribute.name)}}_size = ({{utils.create_variable_name(command.params[attribute.fields[0].param_offset].name)}}.value & {{attribute.fields[0].size_mask}}) + {{attribute.fields[0].size_change}};
                        {% endif %}
                        {{utils.create_variable_name(attribute.name)}} = frame_parser.read_sequential<{{utils.convert_zwave_type_to_cpp_type(attribute.type)}}>({{utils.create_variable_name(attribute.name)}}_size);
                        read_bytes += {{utils.create_variable_name(attribute.name)}}_size;
                    {% else %}

                        // This will be read until the marker
                        bool is_{{utils.create_variable_name(attribute.name)}}_marker_reached = false;

                        while ((!is_{{utils.create_variable_name(attribute.name)}}_marker_reached) && 
                                (read_bytes < frame_length)) {
                            uint8_t current_value = frame_parser.read_byte();
                            read_bytes++;
                            if (current_value == 0x00) {
                                is_{{utils.create_variable_name(attribute.name)}}_marker_reached = true;
                            } else {
                                {{utils.create_variable_name(attribute.name)}}.push_back(current_value);
                            }
                        }

                    {% endif %}
                {% elif attribute.type | lower != "marker" %}
                    {{utils.create_variable_name(attribute.name)}} = frame_parser.read_sequential<{{utils.convert_zwave_type_to_cpp_type(attribute.type)}}>(sizeof({{utils.create_variable_name(attribute.name)}}));
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for attribute in command.params %}
            {% if attribute.type | lower == "struct_byte" %}
                {% for field in attribute.fields %}
                    {% if version == field.min_version %}
                        uint8_t {{utils.create_variable_name(attribute.name)}}_{{utils.create_variable_name(field.name)}} = {{utils.create_variable_name(attribute.name)}}.value & static_cast<uint8_t>({{command.name | lower}}_{{attribute.name | lower}}_attribute_masks_t::{{utils.create_variable_name(field.name)}}_mask);
                        attribute_map.insert({"{{utils.create_variable_name(field.name)}}", {{utils.create_variable_name(attribute.name)}}_{{utils.create_variable_name(field.name)}}});
                    {% endif %}
                {% endfor %}
            {% elif attribute.type | lower != "marker" %}
                {% if attribute.type | lower == "variant_group" %}
                    {% if version == attribute.min_version %}
                        {% set variant_group_name.value = command.name | lower + "_" + attribute.name + "_t" %}
                        attribute_map.insert({"{{utils.create_variable_name(attribute.name)}}", {{utils.create_variable_name(attribute.name)}}});
                    {% endif %}
                {% else %}
                    {% if version == attribute.min_version %}
                        attribute_map.insert({"{{utils.create_variable_name(attribute.name)}}", {{utils.create_variable_name(attribute.name)}}});
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
        } catch (const std::exception &e) {
            sl_log_debug(LOG_TAG.data(), "Error while parsing version {{version}}: %s", e.what());
        }

    {% endfor %}

    {% if command_class.has_endpoints == true %}
        // Remap store/MQTT/parsed to the reported End Point by value (not child index).
        // Keep receive endpoint_node for stop_group_resolution (Get was issued from root).
        uint8_t endpoint_id = 0;
        endpoint_id = get_value_or_default(attribute_map, "end_point", endpoint_id);

        attribute_store::attribute store_endpoint_node = endpoint_node;
        if(endpoint_id != 0) {
            store_endpoint_node = endpoint_node.parent().emplace_node(ATTRIBUTE_ENDPOINT_ID, endpoint_id);
        }
    {% endif %}

    parse_status = on_{{command.name | lower}}_received_store({% if command_class.has_endpoints == true %}store_endpoint_node{% else %}endpoint_node{% endif %}, attribute_map);

    if (parse_status == SL_STATUS_OK) {
        {% if command.name not in config.command_has_no_pair %}
            // In case everything is ok, we stop the retry mechanism
            {{utils.get_command_pairs(command.name)}}
            if (group_node.is_valid()) {
                stop_group_resolution(group_node);
            }
        {% endif %}
        mqtt_publish_report({% if command_class.has_endpoints == true %}store_endpoint_node{% else %}endpoint_node{% endif %},
                            {{command_class_name_lower}}_commands_t::{{command_class.name | upper}}_{{command.name | upper}},
                            attribute_map);
    }
    else {
        sl_log_error(LOG_TAG.data(), "Error while parsing {{command.name}} frame");
        return SL_STATUS_FAIL;
    }

    on_{{command.name | lower}}_parsed(connection_info, {% if command_class.has_endpoints == true %}store_endpoint_node{% else %}endpoint_node{% endif %}, attribute_map);

    return SL_STATUS_OK;
}
{% endmacro %}

{% macro generate_get_received_function(command_class, command) %}
{% set command_class_name_lower = command_class.output_name %}
{{command_class_name_lower}}_attribute_map_t {{command_class_name_lower}}_core::on_{{command.name | lower}}_received(const get_received_args& args)
{
    [[maybe_unused]] auto endpoint_node    = args.endpoint_node;
    auto parent_node_id = endpoint_node.parent();
    auto parent_node = attribute_store::attribute(parent_node_id);
    auto root_endpoint_node_id = parent_node.child_by_type(ATTRIBUTE_ENDPOINT_ID);
    auto root_endpoint_node = attribute_store::attribute(root_endpoint_node_id);
    [[maybe_unused]] const auto supported_version = endpoint_supported_version(root_endpoint_node);
    [[maybe_unused]] auto &frame_parser     = args.received_get_frame;
    {{command_class_name_lower}}_attribute_map_t attribute_map;
    [[maybe_unused]] sl_status_t parse_status = SL_STATUS_OK;

    {% for version in range(1, command_class.supported_version + 1) %}
        {% for attribute in command.params %}
            {% if version == attribute.min_version %}
                {% if attribute.type | lower != "variant" %}
                uint8_t {{utils.create_variable_name(attribute.name)}} = 0;
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    /* If zero is returned, it means that the command class version is not yet requested from the end node */
    {% for version in range(1, command_class.supported_version + 1) %}
        try {
        {% for attribute in command.params %}
            {% if version == attribute.min_version %}
                {% if attribute.type | lower != "variant" %}
                {{utils.create_variable_name(attribute.name)}} = frame_parser.read_byte();
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for attribute in command.params %}
            {% if attribute.type | lower == "struct_byte" %}
                {% for field in attribute.fields %}
                    {% if version == field.min_version %}
                        uint8_t {{utils.create_variable_name(attribute.name)}}_{{utils.create_variable_name(field.name)}} = {{utils.create_variable_name(attribute.name)}} & static_cast<uint8_t>({{command.name | lower}}_{{attribute.name | lower}}_attribute_masks_t::{{utils.create_variable_name(field.name)}}_mask);
                        attribute_map.insert({"{{utils.create_variable_name(field.name)}}", {{utils.create_variable_name(attribute.name)}}_{{utils.create_variable_name(field.name)}}});
                    {% endif %}
                {% endfor %}
            {% else %}
                {% if version == attribute.min_version %}
                    {% if attribute.type | lower == "variant" %}
                        {% set variant_name = utils.create_variable_name(attribute.name) %}

                        std::vector<uint8_t> {{variant_name}} = {};
                        {% if attribute.fields[0].param_offset != 255 %}
                            {% if command.params[attribute.fields[0].param_offset].type | lower == "struct_byte" %}
                                uint16_t variant_size = {{utils.create_variable_name(command.params[attribute.fields[0].param_offset].name)}}.value & {{attribute.fields[0].size_mask}};
                            {% else %}
                                uint16_t variant_size = {{utils.create_variable_name(command.params[attribute.fields[0].param_offset].name)}} & {{attribute.fields[0].size_mask}};
                            {% endif %}
                        {% else %}
                            uint16_t variant_size = frame_parser.get_frame_length() - {{attribute.fields[0].len}};
                        {% endif %}

                        for (uint8_t byte_ix = 0; byte_ix < variant_size; byte_ix++) {
                            uint8_t variant_byte = frame_parser.read_byte();
                            {{variant_name}}.push_back(variant_byte);
                        }

                        attribute_map.insert({"{{variant_name}}", {{variant_name}}});
                    {% else %}
                        attribute_map.insert({"{{utils.create_variable_name(attribute.name)}}", {{utils.create_variable_name(attribute.name)}}});
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
        } catch (const std::exception &e) {
            sl_log_debug(LOG_TAG.data(), "Error while parsing version {{version}}: %s", e.what());
        }

    {% endfor %}

    return attribute_map;
}
{% endmacro %}

{% macro generate_set_received_function(command_class, command) %}
{% set command_class_name_lower = command_class.output_name %}
{{command_class_name_lower}}_attribute_map_t {{command_class_name_lower}}_core::on_{{command.name | lower}}_received(const set_received_args& args)
{
    [[maybe_unused]] auto endpoint_node    = args.endpoint_node;
    [[maybe_unused]] const auto supported_version = cc_properties.supported_version;
    [[maybe_unused]] uint16_t read_bytes = 0;
    [[maybe_unused]] uint16_t frame_length = args.received_set_frame.get_frame_length() - 2; /* -2 for the header */
    [[maybe_unused]] auto &frame_parser     = args.received_set_frame;
    {{command_class_name_lower}}_attribute_map_t attribute_map;
    [[maybe_unused]] sl_status_t parse_status = SL_STATUS_OK;

    {% for version in range(1, command_class.supported_version + 1) %}
        {% for attribute in command.params %}
            {% if version == attribute.min_version %}
                {% if attribute.type | lower == "variant_group" %}
                    {% set variant_group_name = command.name | lower + "_" + attribute.name + "_t" %}
                    {{variant_group_name}} {{utils.create_variable_name(attribute.name)}} = {};
                {% elif attribute.type | lower == "variant" %}
                    {% set populated_type      = utils.create_variable_name(attribute.name) %}
                    {% set populated_type_name = command.name | lower + "_" + populated_type + "_t" %}
                    {{populated_type_name}} {{utils.create_variable_name(attribute.name)}} = {};
                {% elif attribute.type | lower == "struct_byte" %}
                    {% set populated_type      = utils.create_variable_name(attribute.name) %}
                    {% set populated_type_name = command.name | lower + "_" + populated_type + "_t" %}
                    {{populated_type_name}} {{utils.create_variable_name(attribute.name)}};
                    {{utils.create_variable_name(attribute.name)}}.value = 0;
                {% elif attribute.type | lower != "marker" %}
                    {% set populated_type      = utils.create_variable_name(attribute.name) %}
                    {% set populated_type_name = command.name | lower + "_" + populated_type + "_t" %}
                    {{populated_type_name}} {{utils.create_variable_name(attribute.name)}} = 0;
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    /* If zero is returned, it means that the command class version is not yet requested from the end node */
    {% for version in range(1, command_class.supported_version + 1) %}
        try {
        {% for attribute in command.params %}
            {% if version == attribute.min_version %}
                {% if (attribute.type | lower == "byte"  or 
                    attribute.type | lower == "word"  or
                    attribute.type | lower == "dword" or 
                    attribute.type | lower == "const") %}
                    {{utils.create_variable_name(attribute.name)}} = frame_parser.read_sequential<{{utils.convert_zwave_type_to_cpp_type(attribute.type)}}>(sizeof({{utils.create_variable_name(attribute.name)}}));
                    read_bytes += sizeof({{utils.create_variable_name(attribute.name)}});
                {% elif attribute.type | lower == "struct_byte" %}
                    {{utils.create_variable_name(attribute.name)}}.value = frame_parser.read_sequential<uint8_t>(sizeof({{utils.create_variable_name(attribute.name)}}.value));
                    read_bytes += sizeof({{utils.create_variable_name(attribute.name)}}.value);
                {% elif attribute.type | lower == "array" or
                        attribute.type | lower == "multi_array" %}
                    {% if command.params[attribute.fields[0].param_offset].type | lower == "struct_byte" %}
                        uint16_t {{utils.create_variable_name(attribute.name)}}_size = {{utils.create_variable_name(command.params[attribute.fields[0].param_offset].name)}}.value & {{attribute.fields[0].size_mask}};
                    {% else %}
                        uint16_t {{utils.create_variable_name(attribute.name)}}_size = {{utils.create_variable_name(command.params[attribute.fields[0].param_offset].name)}} & {{attribute.fields[0].size_mask}};
                    {% endif %}
                    {{utils.convert_zwave_type_to_cpp_type(attribute.type)}} {{utils.create_variable_name(attribute.name)}} = frame_parser.read_sequential<{{utils.convert_zwave_type_to_cpp_type(attribute.type)}}>({{utils.create_variable_name(attribute.name)}}_size);
                    read_bytes += {{utils.create_variable_name(attribute.name)}}_size;
                {% elif attribute.type | lower == "bit_24" %}
                    {{utils.create_variable_name(attribute.name)}} = frame_parser.read_sequential<uint32_t>(3);
                    read_bytes += 3;
                {% elif attribute.type | lower == "variant_group" %}
                    {% if attribute.param_offset != 255 %}
                        {% set variant_group_name = command.name | lower + "_" + attribute.name + "_t" %}
                        {% if command.params[attribute.param_offset].type | lower == "struct_byte" %}
                            uint16_t {{variant_group_name}}_size = ({{utils.create_variable_name(command.params[attribute.param_offset].name)}}.value & {{attribute.size_mask}});
                        {% else %}
                            uint16_t {{variant_group_name}}_size = ({{utils.create_variable_name(command.params[attribute.param_offset].name)}} & {{attribute.size_mask}});
                        {% endif %}

                        for (uint16_t i = 0; i < {{variant_group_name}}_size; i++) {
                            {{variant_group_name}}_item_t item;
                            {% for field in attribute.params %}
                                item.{{utils.create_variable_name(field.name)}} = frame_parser.read_sequential<{{utils.convert_zwave_type_to_cpp_type(field.type)}}>(sizeof(item.{{utils.create_variable_name(field.name)}}));
                                read_bytes += sizeof(item.{{utils.create_variable_name(field.name)}});

                            {% endfor %}
                            {{utils.create_variable_name(attribute.name)}}.push_back(item);
                        }
                    {% else %}
                        {% set variant_group_name = command.name | lower + "_" + attribute.name + "_t" %}
                        uint16_t remaining_bytes = frame_parser.get_frame_length() - 2;

                        while (read_bytes < remaining_bytes) {
                            {{variant_group_name}}_item_t item;
                            {% for field in attribute.params %}
                                {% if field.type | lower == "struct_byte" %}
                                    item.{{utils.create_variable_name(field.name)}}.value = frame_parser.read_sequential<uint8_t>(sizeof(item.{{utils.create_variable_name(field.name)}}.value));
                                    read_bytes += sizeof(item.{{utils.create_variable_name(field.name)}}.value);
                                {% else %}
                                    item.{{utils.create_variable_name(field.name)}} = frame_parser.read_sequential<{{utils.convert_zwave_type_to_cpp_type(field.type)}}>(sizeof(item.{{utils.create_variable_name(field.name)}}));
                                    read_bytes += sizeof(item.{{utils.create_variable_name(field.name)}});
                                {% endif %}

                            {% endfor %}
                            {{utils.create_variable_name(attribute.name)}}.push_back(item);
                        }
                    {% endif %}

                {% elif attribute.type | lower == "variant" %}
                    {% if attribute.fields[0].param_offset != 255 %}
                        {% if command.params[attribute.fields[0].param_offset].type | lower == "byte" %}
                            uint16_t {{utils.create_variable_name(attribute.name)}}_size = ({{utils.create_variable_name(command.params[attribute.fields[0].param_offset].name)}} & {{attribute.fields[0].size_mask}}) + {{attribute.fields[0].size_change}};
                        {% else %}
                            uint16_t {{utils.create_variable_name(attribute.name)}}_size = ({{utils.create_variable_name(command.params[attribute.fields[0].param_offset].name)}}.value & {{attribute.fields[0].size_mask}}) + {{attribute.fields[0].size_change}};
                        {% endif %}
                        {{utils.create_variable_name(attribute.name)}} = frame_parser.read_sequential<{{utils.convert_zwave_type_to_cpp_type(attribute.type)}}>({{utils.create_variable_name(attribute.name)}}_size);
                        read_bytes += {{utils.create_variable_name(attribute.name)}}_size;
                    {% else %}

                        // This will be read until the marker
                        bool is_{{utils.create_variable_name(attribute.name)}}_marker_reached = false;

                        while ((!is_{{utils.create_variable_name(attribute.name)}}_marker_reached) && 
                                (read_bytes < frame_length)) {
                            uint8_t current_value = frame_parser.read_byte();
                            read_bytes++;
                            if (current_value == 0x00) {
                                is_{{utils.create_variable_name(attribute.name)}}_marker_reached = true;
                            } else {
                                {{utils.create_variable_name(attribute.name)}}.push_back(current_value);
                            }
                        }

                    {% endif %}
                {% elif attribute.type | lower != "marker" %}
                    {{utils.create_variable_name(attribute.name)}} = frame_parser.read_sequential<{{utils.convert_zwave_type_to_cpp_type(attribute.type)}}>(sizeof({{utils.create_variable_name(attribute.name)}}));
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for attribute in command.params %}
            {% if attribute.type | lower == "struct_byte" %}
                {% for field in attribute.fields %}
                    {% if version == field.min_version %}
                        uint8_t {{utils.create_variable_name(attribute.name)}}_{{utils.create_variable_name(field.name)}} = {{utils.create_variable_name(attribute.name)}}.value & static_cast<uint8_t>({{command.name | lower}}_{{attribute.name | lower}}_attribute_masks_t::{{utils.create_variable_name(field.name)}}_mask);
                        attribute_map.insert({"{{utils.create_variable_name(field.name)}}", {{utils.create_variable_name(attribute.name)}}_{{utils.create_variable_name(field.name)}}});
                    {% endif %}
                {% endfor %}
            {% else %}
                {% if version == attribute.min_version %}
                    {% if attribute.type | lower == "variant" %}
                        {% set variant_name = utils.create_variable_name(attribute.name) %}
                        {% if attribute.fields[0].param_offset != 255 %}
                            
                            std::vector<uint8_t> {{variant_name}} = {};
                            {% if command.params[attribute.fields[0].param_offset].type | lower == "struct_byte" %}
                                uint16_t variant_size = {{utils.create_variable_name(command.params[attribute.fields[0].param_offset].name)}}.value & {{attribute.fields[0].size_mask}};
                            {% else %}
                                uint16_t variant_size = {{utils.create_variable_name(command.params[attribute.fields[0].param_offset].name)}} & {{attribute.fields[0].size_mask}};
                            {% endif %}

                            for (uint8_t byte_ix = 0; byte_ix < variant_size; byte_ix++) {
                                uint8_t variant_byte = frame_parser.read_byte();
                                {{variant_name}}.push_back(variant_byte);
                            }
                        {% endif %}
                        attribute_map.insert({"{{variant_name}}", {{variant_name}}});
                    {% elif attribute.type | lower != "marker" %}
                        attribute_map.insert({"{{utils.create_variable_name(attribute.name)}}", {{utils.create_variable_name(attribute.name)}}});
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
        } catch (const std::exception &e) {
            sl_log_debug(LOG_TAG.data(), "Error while parsing version {{version}}: %s", e.what());
        }

    {% endfor %}
    return attribute_map;
}
{% endmacro %}